<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>
<body>
<header th:replace="inc/header :: header">&nbsp;</header>

<main class="centrator">
    <h2>Вход</h2>
        <form class="login-form" action="login_processing" method="POST">
            <div class="form-row">
                <label for="readerLogin">Название книги</label>
                <input type="text" name="libUserLogin" id="readerLogin" placeholder="Имя входа" required value="AnyUser"><br/>
            </div>
            <div class="form-row">
                <label for="readerPassword">Пароль</label>
                <input type="password" name="libUserPassword" id="readerPassword" placeholder="Пароль" required value="12345"><br/>
            </div>
            <div class="form-row">
                <div th:if = "${param.error}" class="login-error-msg">Ошибка входа</div>
            </div>
            <input type="submit" value="Войти">
        </form>
    </div>

</main>
</body>
</html>
